## Chapter 3

In [19]:
import numpy as np
import pandas as pd

In [20]:
# Import .csv and create df
df = pd.read_csv("C:\\Users\\WY343EH\\Downloads\\Projects\\Python\\Python Fundamentals - Learner Files\\C3 - Analyzing Data\\3 - Chapter Exercise\\Chapter Exercise Data.csv")

# Fill na values with zeros in df
df = df.fillna(0)
df.head()

   OrderID  PricePerItem  Quantity  ShippingDistance  CustomerID
0        1            10         5               3.0        6671
1        2            10        10              84.0        8647
2        3            10         1               0.0        4075
3        4            10        10              92.0        8452
4        5            10         3               2.0        2621

1. John realized that he wanted to add the amount he would make per order onto his DataFrame. Create a new column that displays the amount he would make per order.

In [21]:
df['Value'] = df['PricePerItem'] * df['Quantity']
df.head()

   OrderID  PricePerItem  Quantity  ShippingDistance  CustomerID  Value
0        1            10         5               3.0        6671     50
1        2            10        10              84.0        8647    100
2        3            10         1               0.0        4075     10
3        4            10        10              92.0        8452    100
4        5            10         3               2.0        2621     30

2. John wants to send out thank you cards to the customers that spent at least $50 on their order. Filter the DataFrame for the list of customer IDs that fit this criteria.

In [22]:
AtLeaast50 = df[df['Value'] >= 50]
AtLeaast50['CustomerID']

0      6671
1      8647
3      8452
5      9160
7       809
       ...
993    1782
994    6587
995    6691
996    9782
998    5319
Name: CustomerID, Length: 600, dtype: int64

3. John wants to send out a gift card for every 300th customer. Find the list of CustomerIDs that qualify for a gift card.

In [23]:
C300th = df.iloc[[299,599,899],4]
C300th

299     198
599    7682
899    1549
Name: CustomerID, dtype: int64

4. Find the average distance that a product travels when shipped.

In [24]:
df['ShippingDistance'].mean()

np.float64(48.541)

5. John recently hired a courier that delivers all his orders for a flat fee, so he no longer needs to know the shipping distance. Drop the shipping distance column.

In [26]:
df = df.drop(['ShippingDistance'], axis=1)
df

     OrderID  PricePerItem  Quantity  CustomerID  Value
0          1            10         5        6671     50
1          2            10        10        8647    100
2          3            10         1        4075     10
3          4            10        10        8452    100
4          5            10         3        2621     30
..       ...           ...       ...         ...    ...
995      996            10         8        6691     80
996      997            10         9        9782     90
997      998            10         2        1096     20
998      999            10         9        5319     90
999     1000            10         4        8187     40

[1000 rows x 5 columns]

6. John wants to know from his orders what is the most popular order quantity amount. Find the count of each order quantity.

In [28]:
df['Quantity'].mode()

0    1
Name: Quantity, dtype: int64